.maps{
    width:100vw;
    height:100vh;
}

.tooltip{
    position: fixed;
    height: 200px;
    width: 350px;
    background: #ffffffed;
    display: flex;
    word-break: break-word;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 0px 8px 8px 8px;
}

.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.2s 0.2s, height 0.2s 0.2s, opacity 0.2s;

}
.fadeIn{
    opacity:1;
    height: 200px;
    width: 350px;
    transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s;
}